<!DOCTYPE html>
<html>
  <head>
    <title> Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
    Welcome, <%= current_user.email %><br>
    <form action="/users/logout" method="post">
      <input type="submit" value="Log out">
    </form>
    <% end %>
    <% if flash[:error] %>
    <% flash[:error].each do |error| %>
      <div><%= error %></div>
    <% end %>
    <% end %>
    <%= yield %>
  </body>
  </html>
