<h1>Add a new link</h1>

<form action="/links" method="post">
  <label for="Title">
    Title:
    <input type="text" name="Title">
  </label>
  <label for="URL">
    URL:
    <input type="text" name="URL">
  </label>
  <input type="submit" value="Add">
</form>
